<app-navbar></app-navbar>

<div class="plan"
  [ngClass]="{changedirection: language === 'ar'  ,  CondensedLight: language != 'ar' , ArabicCondensedLight: language === 'ar' }">
  <p>{{ 'plan-du-musee.desc1' | translate }}</p>
  <img src="assets/images/plan-rdc.png">

  <p>{{ 'plan-du-musee.desc2' | translate }} </p>
  <img src="assets/images/plan-etg.png">

</div>