.plan {
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    background: #f8f8f2;
    /* background: url(../../assets/images/background_webapp.jpg) center center fixed;  */
    background-size: 100% 100%;
}

.plan>img {
    width: 100%;
    padding: 3vh 0vw;
}

.plan > p {
    text-align: center;
    color: #292a29;
    margin: 0;
    padding-top: 5vh;
    font-size: 1.2em;
}

@media screen and (min-height: 1024px) and (max-height: 1366px)  {

    .plan>img {
        padding: 5vh 0vw;
    }
}