<app-navbar></app-navbar>

<div class="conditions-generale" [ngClass]="{changedirection: language === 'ar' , ExtraCondensedLight: language != 'ar' , ArabicExtraCondensedLight: language === 'ar'   }" >
  <h5 class="text-center bold">{{'conditionsGenerale.title' | translate}}</h5>
  
  <div class="articles">
      <h6 class="bold">{{'conditionsGenerale.condition1' | translate}} </h6>
      <div class="content">{{'conditionsGenerale.desccondition1' | translate}}</div>
  </div>
  
  <div class="articles"> 
      <h6 class="bold">{{'conditionsGenerale.condition2' | translate}} </h6>
      <div class="content">{{'conditionsGenerale.desccondition2' | translate}}</div>
  </div>  
  
  
  <div class="articles"> 
      <h6 class="bold">{{'conditionsGenerale.condition3' | translate}} </h6>
      <div class="content">{{'conditionsGenerale.desccondition3' | translate}}</div>
  </div>
  
  
  <div class="articles"> 
      <h6 class="bold">{{'conditionsGenerale.condition4' | translate}} </h6>    
    <div class="content">{{'conditionsGenerale.desccondition4' | translate}}</div>
  </div>
  
  
  
  <div class="articles"> 
      <h6 class="bold">{{'conditionsGenerale.condition5' | translate}} </h6>    
      <div class="content">{{'conditionsGenerale.desccondition5' | translate}}</div>

  </div>
  
</div>