.conditions-generale {
    position: absolute;
    top: 10vh;
    height: 90vh;
    padding: 3vh 4vw;
    word-break: break-word;
    text-align: justify;
        overflow: scroll;
    -webkit-overflow-scrolling: touch; 
    background: url(../../assets/images/background_webapp.jpg) center center fixed; 
    background-size: 100% 100%; 
}

.bold{
    font-weight: bold;
    margin-top: 2vh;
    color: #f5efe1;
    text-shadow: 1px 1px 1px #000;
}

h6.bold{
    margin-top: 4vh;
}

@media screen and (min-height: 1024px) and (max-height: 1366px)  {
    h5, h6 {
        font-size: 2em;
    }
    .content{
        font-size: 1.5em;
    }
}
