:host {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

#notfound-msg {
	width: 90vw;
}

#go-to-home-page {
	width: 100%;
}

h1 {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.1;

	margin: 0;
	margin-right: 1.5rem;
	margin-bottom: 0.5rem;
	font-family: NotoSans ExtraCondensedSemiBold;
}

.titlemargin{
	margin-right: 0rem; 
}


h4 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.1;

	margin: 0;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

p {
	color: #fff;
}

.btn-primary{
	color: #1c1c1c;
    background-color: #d7d5cb;
    border-color: #d7d5cb;
}
