<div id="notfound-msg" [ngClass]="{changedirection: language === 'ar' }">
  
  <div> 
    <h1 [ngClass]="{titlemargin: language === 'ar' }">404</h1>
    <h4 [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">{{'404.desc' |translate}}</h4> 
    <p [ngClass]="{ExtraCondensedLight: language != 'ar' , ArabicExtraCondensedLight: language === 'ar'  }">{{'404.desc1' |translate}}</p>
  </div>
  
  <button  [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'}"class="btn btn-primary" routerLink="/selectvisite"> {{'404.btndesc' |translate}} </button>
  
</div>
