<app-navbar></app-navbar>

<div class="dispositifs"
  [ngClass]="{changedirection: language === 'ar' , ExtraCondensedLight: language != 'ar' , ArabicExtraCondensedLight: language === 'ar'   }">

  <div class="dispo-section bg-patrimoine">
    <div class="overlay"></div>
    <div class="patrimoine" [routerLink]="['/dispositifs-digitaux/patrimoine']">
      <div class="title">
        {{ 'dispositifs.patrimoine' | translate}}
      </div>
    </div>
  </div>


  <div class="dispo-section bg-billet-maton">
    <div class="overlay"></div>
    <div class="billet-maton" [routerLink]="['/dispositifs-digitaux/billet-maton']">
      <div class="title">
        {{ 'dispositifs.billet-maton' | translate}}
      </div>
    </div>
  </div>


  <div class="dispo-section bg-salle-de-projection">
    <div class="overlay"></div>
    <div class="salle-de-projection" [routerLink]="['/dispositifs-digitaux/salle-de-projection']">
      <div class="title">
        {{ 'dispositifs.salle-de-projection' | translate}}
      </div>
    </div>
  </div>


  <div class="dispo-section bg-bornes-des-jeux">
    <div class="overlay"></div>
    <div class="bornes-des-jeux" [routerLink]="['/dispositifs-digitaux/bornes-des-jeux']">
      <div class="title">
        {{ 'dispositifs.bornes-des-jeux' | translate}}
      </div>
    </div>
  </div>



</div>