.dispositifs {
    height: 90%;
    width: 100vw;
    position: relative;
    display: block;
}

.dispo-section {
    height: calc(100% / 4);
    position: relative;
    z-index: 1;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}


.bg-patrimoine{
    background: url("/assets/modules/patrimoine/images/paysage.png");
}

.bg-billet-maton{
    background: url("/assets/modules/billet-maton/images/paysage.png");
}

.bg-salle-de-projection{
    background: url("/assets/modules/salle-de-projection/images/paysage.jpg");
}

.bg-bornes-des-jeux{
    background: url("/assets/modules/bornes-des-jeux/images/paysage.jpg");
}




.overlay {
    background: #00000091;
    height: 99%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
    color: #f5efe1;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.patrimoine,.billet-maton,.salle-de-projection,.bornes-des-jeux{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid;
}


@media screen and (min-height: 800px) and (max-height: 1366px)  {
    .title{
        font-size: 2.5em;
    }

}



