.bg{
    background: url(../../../assets/images/background_webapp.jpg) center center fixed; 
    background-size: 100% 100%;
    width: 100%;
    height: 100%; 
  } 

  .WordTitle{
    height: 20vh;
    width: 100vw ;
    position: relative;
    display: flex;
    align-items: center;
}

.word {
    margin: auto;
    font-size: 2.2em;
}

.WordDesc{
    height: 45vh;
    width: 100vw ;
    position: relative;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.definition{
        overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 35vh;
}

.definitionTitle {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 6%;
}

.content {
    width: 80%;
    margin: auto;
}



.ButtonControls{
    height: 25vh;
    width: 100vw ;
    position: relative;
}

.BackToWordList , .BackToGlossry{
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
}

.btn-icon{
    width: 15vw;
    color: #1d1d1d;
    background-color: #f5efe1;
    border-color: #807e76;
}
