<app-navbar></app-navbar>
<div class="ExtraCondensedLight">
<div class="bg">

  <div class="WordTitle">
    <div class="word">
      {{word}}
    </div>
  </div>


  <div class="WordDesc">
    <div class="content">
      <span class="definitionTitle">Définition</span>
      <div class="definition">
        {{definition}}
      </div>
    </div>
  </div>

  <div class="ButtonControls">
    <div class="BackToWordList">
      <button class="btn btn-icon" (click)="BackToWordList()"><i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="BackToGlossry">
      <button class="btn btn-icon" (click)="BackToGlossry()"><i class="fa fa-list-ul"></i></button>
    </div>
  </div>
</div> 

</div>