<app-navbar></app-navbar>

<div class="bg">
<div class="ExtraCondensedLight">
  <div class="letter">
    <div class="mainLetter">
      {{letter | uppercase}}
    </div>
  </div>

  <div class="search">
    <div class="input-group">
      <input type="text" [(ngModel)]="SearchedWord" class="form-control" placeholder="Recherche">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="search()"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>

  <div class="words-list">
    <div *ngFor="let word of LetterWords" (click)="GoToWordDefinition(word[1].mots)">
      {{word[1].mots}}
      <i class="fa fa-chevron-right"></i>
    </div> 
    
  </div>

</div>

