.bg{
    background: url(../../../assets/images/background_webapp.jpg) center center fixed; 
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: block;
  } 

  .letter{
height: 15vh;
display: flex;
}
.mainLetter{
    width: 20vw;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: url("../../../assets/images/bg_language.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.search{
    height: 15vh;
}




.words-list{
    height: 60vh;
        overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: 3%;
    margin-bottom: 2%;
}


.words-list > div {
    height: 7vh;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 5%;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 5px ;
}



.words-list > div:nth-child(odd) {
    background: #f5efe1;
    color: #272728;
}

.words-list > div:nth-child(even) {
    color : #f5efe1;
    background : #272728;

}

.words-list > div:last-child {
    margin-bottom: 3%;
}



.words-list> div > i {
    position: absolute;
    right: 5%;
    line-height: 0 ;
}


/* search Style  */

button.btn.btn-default {
    border: none;
    height: 2.2em;
}

.search > .input-group {
    width: 80%;
    margin: auto;
    padding-top: 4vh;
}

.input-group-btn {
    background: #272729;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: 1px solid #ffffff;
}

.form-control:focus , .btn.focus, .btn:focus {
    border-color: #f5efe1;
    box-shadow: 0 0 0 0.1rem rgba(245, 239, 225, 0.4);
}

.input-group-btn:active {
    margin-top: 2px;
}

i.fa.fa-search {
    color: #f5efe1;
}



h4 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.1;

	margin: 0;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

p {
	color: #fff;
}