<app-navbar></app-navbar>

<div class="visitedetails" [ngStyle]="{'background-image': 'url(' + imgprotrait + ')'}">

  <div class="title-details"
    [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">

    <div class="title" *ngIf="!isModule">

      <span class="iconlist" [routerLink]="['/selectvisite']">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="25" height="25" viewBox="0 0 219.151 219.151" style="enable-background:new 0 0 219.151 219.151;"
          xml:space="preserve">
          <path
            d="M109.576,219.151c60.419,0,109.573-49.156,109.573-109.576C219.149,49.156,169.995,0,109.576,0S0.002,49.156,0.002,109.575
      C0.002,169.995,49.157,219.151,109.576,219.151z M109.576,15c52.148,0,94.573,42.426,94.574,94.575
      c0,52.149-42.425,94.575-94.574,94.576c-52.148-0.001-94.573-42.427-94.573-94.577C15.003,57.427,57.428,15,109.576,15z" />
          <path d="M94.861,156.507c2.929,2.928,7.678,2.927,10.606,0c2.93-2.93,2.93-7.678-0.001-10.608l-28.82-28.819l83.457-0.008
      c4.142-0.001,7.499-3.358,7.499-7.502c-0.001-4.142-3.358-7.498-7.5-7.498l-83.46,0.008l28.827-28.825
      c2.929-2.929,2.929-7.679,0-10.607c-1.465-1.464-3.384-2.197-5.304-2.197c-1.919,0-3.838,0.733-5.303,2.196l-41.629,41.628
      c-1.407,1.406-2.197,3.313-2.197,5.303c0.001,1.99,0.791,3.896,2.198,5.305L94.861,156.507z" />
        </svg>
      </span>

      <span id="titleModule">
        {{ 'Modules.'+id+'.title' | translate}}
      </span>
    </div>
  </div>

  <div class="content-details" [ngClass]="{changedirection: language === 'ar'  ,
     ExtraCondensedLight: language != 'ar' ,
     ArabicCondensedLight: language === 'ar' ,
     NoSilderWithNotice : isEmptyObject(this.imgcoins) && havecomplement ==true ,
     NoSilderNoNotice : isEmptyObject(this.imgcoins)  && havecomplement == false ,
     SilderNoNotice : !isEmptyObject(this.imgcoins)  && havecomplement == false}">

    <div class="descimg">
      <div id="carouselExampleIndicators" class="carousel slide" data-wrap="false"
        [ngStyle]="!this.imgcoins && {'display': 'none'}">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of imagesDetails.images; let i = index"
            [ngClass]="{'active': i === 0}">
            <img class="d-block w-100 imagesize" data-target="#carouselExample" data-slide-to="3" src="{{item}}"
              alt="First slide">
            <p>
              {{ imagesDetails.descriptions[i] | translate}}
            </p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>

    <p class="notice" [hidden]=!havecomplement [ngClass]="{ SilderWithNotice : !isEmptyObject(this.imgcoins)} ">
      <span class="content">
        {{ 'notice' |translate}}
      </span>
    </p>

    <!--  -->
    <div class="player">
      <div plyr [plyrOptions]="options" [plyrSources]="audioSources" plyrType="audio" (plyrEnded)="GoToNext()"></div>

      <div class="butns">
        <div class="controls">
          <button class="pull-left arrows" [disabled]=isFirst (click)="go(-1)">
            <svg [ngStyle]="ColorStyleFirst()" width="25" height="25" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492 492"
              style="enable-background:new 0 0 492 492;">

              <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
        C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
        c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
        l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z" /></svg>
          </button>


          <button (click)="Rewind(true)" class="skiptime">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34" height="34"
              viewBox="0 0 24 24">
              <defs>
                <path id="a" d="M0 0h24v24H0V0z" />
              </defs>
              <clipPath id="b">
                <use xlink:href="#a" overflow="visible" />
              </clipPath>
              <path
                d="M12 5V1L7 6l5 5V7c3.3 0 6 2.7 6 6s-2.7 6-6 6-6-2.7-6-6H4c0 4.4 3.6 8 8 8s8-3.6 8-8-3.6-8-8-8zm-1.1 11H10v-3.3L9 13v-.7l1.8-.6h.1V16zm4.3-1.8c0 .3 0 .6-.1.8l-.3.6s-.3.3-.5.3-.4.1-.6.1-.4 0-.6-.1-.3-.2-.5-.3-.2-.3-.3-.6-.1-.5-.1-.8v-.7c0-.3 0-.6.1-.8l.3-.6s.3-.3.5-.3.4-.1.6-.1.4 0 .6.1c.2.1.3.2.5.3s.2.3.3.6.1.5.1.8v.7zm-.9-.8v-.5s-.1-.2-.1-.3-.1-.1-.2-.2-.2-.1-.3-.1-.2 0-.3.1l-.2.2s-.1.2-.1.3v2s.1.2.1.3.1.1.2.2.2.1.3.1.2 0 .3-.1l.2-.2s.1-.2.1-.3v-1.5z"
                clip-path="url(#b)" />
            </svg>
          </button>

          <button class="plyr__controls__item plyr__control plyr__tab-focus" type="button" data-plyr="play"
            (click)="StartPaused()">

            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" id="plyr-pause"
              [style.display]="!isPaused  ? 'block' : 'none' ">
              <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z" />
              <path d="M0 0h24v24H0z" fill="none" />
            </svg>


            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" id="plyr-play"
              [style.display]="isPaused  ? 'block' : 'none' ">
              <path d="M8 5v14l11-7z" />
              <path d="M0 0h24v24H0z" fill="none" />
            </svg>
          </button>

          <button (click)="Rewind(false)" class="skiptime">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34" height="34"
              viewBox="0 0 24 24">
              <defs>
                <path id="a" d="M24 24H0V0h24v24z" />
              </defs>
              <clipPath id="b">
                <use xlink:href="#a" overflow="visible" />
              </clipPath>
              <path
                d="M4 13c0 4.4 3.6 8 8 8s8-3.6 8-8h-2c0 3.3-2.7 6-6 6s-6-2.7-6-6 2.7-6 6-6v4l5-5-5-5v4c-4.4 0-8 3.6-8 8zm6.8 3H10v-3.3L9 13v-.7l1.8-.6h.1V16zm4.3-1.8c0 .3 0 .6-.1.8l-.3.6s-.3.3-.5.3-.4.1-.6.1-.4 0-.6-.1-.3-.2-.5-.3-.2-.3-.3-.6-.1-.5-.1-.8v-.7c0-.3 0-.6.1-.8l.3-.6s.3-.3.5-.3.4-.1.6-.1.4 0 .6.1.3.2.5.3.2.3.3.6.1.5.1.8v.7zm-.8-.8v-.5s-.1-.2-.1-.3-.1-.1-.2-.2-.2-.1-.3-.1-.2 0-.3.1l-.2.2s-.1.2-.1.3v2s.1.2.1.3.1.1.2.2.2.1.3.1.2 0 .3-.1l.2-.2s.1-.2.1-.3v-1.5z"
                clip-path="url(#b)" />
            </svg>
          </button>

          <button class="pull-right arrows" [disabled]=isLast (click)="go(1)">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" width="25"
              [ngStyle]="ColorStyleLast()" height="25">

              <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
  c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
  c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
  c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
            </svg>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>