.visitedetails {
  position: absolute;
  top: 10vh;
  left: 0vw;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.title-details {
  width: 100vw;
  height: 10vh;
  position: relative;
  background:  #1c1c1c63;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #000;
}

.content-details {
  width: 100vw;
  height: 90vh;
  /* padding-top: 18vh; */
  /* background: #00000085; */
  background: #1c1c1c63;
  position: unset;
  -webkit-animation: slideup 1s both;
  animation: slideup 1s both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.title {
  width: 70vw;
  text-align: center;
  padding: 0;
  margin: auto;
  /* padding-left: 15vw; */
}

#titleModule {
  font-size: 0.8em;
}

/* caroussel Style */
.w-100 {
  width: 75% !important;
  /* width: 280px !important; */
  margin: 10vh auto 3vh auto ;
}


.carousel-item > p {
  margin: 2vh ;
  text-align: center;
  font-weight: bold;
}

.carousel-control-next, .carousel-control-prev {
  top: 0vh;
  /* top: -5vh; */
}
/* End of caroussel Style */



.butns {
  text-align: center;
  margin-bottom: 1.5vh;
}

.butns > button {
  background: none;
  color: #f5efe1;
  border: none;
  outline: none;
}

.arrows {
  height: 5vh;
  width: 10vw;
  background: transparent;
  color: rgb(245, 239, 225);
  border: none;
  outline: none;
}

.controls {
  text-align: center;
}

.controls > button.btn.btn-primary {
  background: #f5efe1;
  border: none;
  color: #1c1c1c;
  padding: 0vh 2vw;
  margin: 0;
  height: 5vh;
}

.controls > button {
  background: transparent;
  border: none;
  outline: none;
}

svg {
  fill: #f5efe1;
}

button.plyr__controls__item.plyr__control.plyr__control--pressed {
  position: absolute;
  bottom: -75%;
  right: 25%;
  color: rgb(245, 239, 225);
}

@-webkit-keyframes slideup {
  0% {
    bottom: -90vh;
  }
  100% {
    bottom: 0vh;
  }
}

@keyframes slideup {
  0% {
    bottom: -90vh;
  }
  100% {
    bottom: 0vh;
  }
}

.descimg {
  width: 100vw;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.descimg > p {
  text-align: center;
  font-size: 0.8em;
}

.descimg > img {
  width: 70%;
  margin: 0% 15% 1% 15%;
}

.player {
  position: fixed;
  height: 15vh;
  width: 100vw;
  bottom: 0;
  padding: 0vh 2vw 2vh 2vw;

}

button.plyr__controls__item.plyr__control.plyr__tab-focus {
  margin: 0vh 7vw;
  -webkit-transform: scale(3);
  transform: scale(3);
  top: 0.5vh;
}

.fa {
  font-size: 1.3em;
}

.iconlist > svg {
  transform: scale(1.4);
  margin-bottom: 0.7vh;
  margin-right: 2vw;
}

.iconlist {
  position: absolute;
  left: 30px;
  top: 35%;
}

.content {
  background: #F0E9DB;
  border-left: 1px solid black;
  color: black;
  height: 90px;
  padding: 2% 7%;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  opacity: 1;
}

.content:before {
  content: ' ';
  background: url(../../assets/images/info.svg) #f0e9db no-repeat;
  height: 90px;
  background-size: 100% 100%;
  width: 30px;
  position: absolute;
  left: 3%;
  border-right: 1px solid black;
}




@media screen and (min-height: 1024px) and (max-height: 1366px) {

  .title {
    font-size: 2em;
  }

  .descimg > p {
    font-size: 1.4em !important;
  }

  .butns > button {
    font-size: 1.3em;
    height: auto;
    width: auto;
    margin: 20px 1vw;
  }

  .butns {
    text-align: center;
    margin: 2.5vh 0vw;
  }

  svg {
    transform: scale(1.6);
  }

  .iconlist > svg {
    transform: scale(2.5);
  }


  button.skiptime {
    margin-top: 0.8vh;
    margin: 0.8vh 4vw;
  }
}

.notice {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 17vh;
  text-align: center;
}

.SilderWithNotice{
  bottom: 30vh;
}

@media screen and (max-height: 812px) {

  .player {
    padding: 3vh 4vw 2vh 4vw;
  }
  .NoplayerStyle {
    padding: 2vh 15vw 2vh 15vw !important;
    height: 15vh !important;
  }


}


@media screen and (max-height: 640px)   {

  .title-details{
    font-size: 1.2em;
    padding-left: 6vh;
  }
}


@media (min-width: 481px) and (max-width: 768px) {

  /* .w-100 {
    width: 450px !important;
  } */


  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
}


  .iconlist {
    left: 50px;
  }

  #titleModule {
    font-size: 1em;
  }

  .notice {
    bottom: 26vh;
    font-size: 1.4em;
  }

  .player {
    height: 12vh;
  }

  .title-details {
    height: 10vh;
  }

  .content:before{
    left: 4%;
  }
}


.NoSilderWithNotice{
  /* height: 30vh !important; */
  height: 15vh !important;
  padding-top: 0vh;
  position: fixed;
}

.NoSilderNoNotice{
  /* height: 20vh !important; */
  height: 15vh !important;
  padding-top: 0vh;
  position: fixed;
}
.SilderNoNotice{
  /* height: 55vh !important; */
  height: 90vh !important;
  /* padding-top: 18vh; */
}