.menuToggle
{
    display: block;
    width: 100vw;
    background: #f5efe1;
    padding: 1vh 3vw;
    height: 10vh;
}

.menuToggle span:not(.closebtn)
{
    display: block;
    width: 33px;
    height: 4px;
    margin: 4px;
    position: relative;
    background: #1c1c1c;
    border-radius: 3px;
    z-index: 1;
}



.mynavbar{
    height: auto ;
    width: 100vw;
}

.logoicon , .menuicon , .qrcodeicon{
    width: calc(100% / 3);
    height: 8vh;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    outline: none ;
}

.logoicon , .qrcodeicon{
    display: block;
}

.menuicon {
    display: flex;
    align-items: center;
    justify-items: center;
}
.qrcodeicon{
    text-align: right;
    padding: 1.3vh 3vw;
}

.closebtn::after {
    content : "";
    display: block;
    width: 25px;
    height: 4px;
    margin: 0px;
    position: relative;
    background: #1c1c1c;
    border-radius: 3px;
    z-index: 1;
    transform: rotate(45deg);
}
.closebtn::before {
        content : "";
        display: block;
        width: 25px;
        height: 4px;
        margin: 0px;
        position: relative;
        background: #1c1c1c;
        border-radius: 3px;
        z-index: 1;
        transform: rotate(-45deg);
}


.qrcodeicon > button {
    border: 2px solid #1c1c1c;
    border-radius: 5px;
}

.mymenu{
    width: max-content;
}

.sidebar{
    left: -90vw;
    position: absolute;
    width: 90vw ;
    height: 90vh;
    background-color: #f5efe1 ;
    border-top: 2px solid #1c1c1c ;
    font-weight: bold;
    color: #1c1c1c;

}



.showme{
    animation: slideIn 0.5s forwards;
    animation-delay: 0.1s;
    z-index: 4;

}

@-webkit-keyframes slideIn {
    0% {  left: -90vw }
    100% {  left:  0vw }
}

@keyframes slideIn {
    0% {  left: -90vw }
    100% {  left:  0vw }
}


.hideme{
    animation: slideOut 0.5s  forwards;
    animation-delay: 0.1s;
    left:  0vw ;
    z-index: 4;
}


@-webkit-keyframes slideOut {
    0% {  left: 0vw }
    100% {  left: -90vw }
}

@keyframes slideOut {
    0% {  left: 0vw }
    100% {  left: -90vw }
}


.myimg{
    width: 50%;
}

.sidebar  >.navcontent > p{
    border-top: 1px solid #dedede;
    margin: 0px;
    padding: 1vh 3vw ;
    outline: none;
}

.sidebar  >.navcontent >  p:last-child{
    border-bottom: 1px solid #dedede;
}


.navcontent{
    height: 72vh ;
}

.navfooter{
    height: 10vh;
    text-align: center;
}

.icons > span{
    margin: 1vh 2vw;
}
.logoicon > img{
    width: 100%;
    padding: 2.3vh 0vw;
}


.navcontent > p:first-child > .myimg {
    margin-left: 20vw;
    outline: none;
    padding-bottom: 2vh;
}

.icons>span>a {
    color: #1c1c1c;
}

.qrcodeicon > button {
    background-image: url(../../assets/images/qrcode.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 5vh;
    width: 5vh;
    border: none;
    outline: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}


@media screen and (min-height: 1024px) and (max-height: 1366px)  {
    p {
        font-size: 1.5em;
    }
    .fa {
        font-size: 2.5em;
    }

    .menuToggle span {
        margin: 10px;
    }

    .sidebar >.navcontent > p:nth-child(2){
        margin-top: 2vh;
    }
    .navfooter  {
        height: 10vh;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-height: 568px){
    .sidebar >.navcontent > p:nth-child(2){
        margin-top: 1vh  ;
    }

}

@media screen and (max-height: 780px)   {
    .navcontent {
        height: 80vh;
    }
}
