<div class="mynavbar">

  <div class="menuToggle">
    <div class="col-md-4 menuicon">
      <div class="mymenu" (click)="toggle()">
        <span [hidden]=isToggle></span>
        <span [hidden]=isToggle></span>
        <span [hidden]=isToggle></span>
        <span class="closebtn" [hidden]=!isToggle></span>
      </div>
    </div>
    <div class="col-md-4 logoicon" [routerLink]="['/selectvisite']">
      <img src="assets/images/logoMuseeFesBlackText.png" (click)="toggle()">
    </div>
    <div class="col-md-4 qrcodeicon">
      <button [routerLink]="['/qrcodecollection']"></button>
    </div>

  </div>

  <div class="sidebar CondensedLight" [ngClass]="{showme : isToggle === true , hideme : isToggle === false}">

    <div class="navcontent" [ngClass]="{ArabicExtraCondensedLight   : language === 'ar'  }">
      <p> <img src="assets/images/logoMuseeFesBlack.png" class="myimg" [routerLink]="['/selectvisite']"
          (click)="toggle()"></p>
      <p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/musee-plan']"> {{ 'menu.plan' | translate}}
      </p>
      <p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/change-language']">
        {{ 'menu.langue' | translate}}</p>
      <p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/conseils-visiteurs']">
        {{ 'menu.conseils' | translate}}</p>
      <p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/dispositifs-digitaux']">
        {{ 'menu.dispositifs' | translate}}</p>
      <p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/conditions-generale']">
        {{ 'menu.cgu' | translate}}</p>
      <!--<p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/glossary']">
        {{ 'menu.glossaire' | translate}}</p> -->
      <p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/contactus']">
        {{ 'menu.contactus' | translate}}</p>
      <p [ngClass]="{'changedirection': language == 'ar'}" [routerLink]="['/formulaire']">
        {{ 'menu.newsletter' | translate}}</p>
    </div>

    <div class="navfooter">
      <div class="icons">
        <span> <a href="#"> <i class="fa fa-facebook-official"></i> </a> </span>
        <span> <a href="#"> <i class="fa fa-twitter-square"></i> </a> </span>
        <span> <a href="#"> <i class="fa fa-youtube-play"></i> </a> </span>
      </div>
      <div class="copyright" [ngClass]="{ArabicExtraCondensedBold: language === 'ar'  }">
        <p>&copy; {{ 'menu.BKAM' | translate}}<p>
      </div>
    </div>
  </div>

</div>