.dispositifs {
  position: absolute;
  top: 10vh;
  left: 0vw;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.dispositifs-digitaux {
  width: 100vw;
  height: 20vh;
  position: relative;
  background: #1c1c1c91;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #000;
}

.content-details {
  width: 100vw;
  height: 70vh;
  background: #000000db;
  position: relative;
  animation: slideup 1s both;
  animation-delay: 0.15s;
  bottom: -90vh;
}

.title {
  width: 100vw;
  text-align: center;
  padding: 0;
  margin: auto;
}

.butns {
  text-align: center;
  margin-bottom: 1.5vh;
}

.butns > button {
  background: none;
  color: #f5efe1;
  border: none;
  outline: none;
}

.arrows {
  height: 5vh;
  width: 10vw;
  background: transparent;
  color: rgb(245, 239, 225);
  border: none;
  outline: none;
}

.controls {
  text-align: center;
}

.controls > button.btn.btn-primary {
  background: #f5efe1;
  border: none;
  color: #1c1c1c;
  padding: 0vh 2vw;
  margin: 0;
  height: 5vh;
}

.controls > button {
  background: transparent;
  border: none;
  outline: none;
}

svg {
  fill: #f5efe1;
}

@-webkit-keyframes slideup {
  0% {
    bottom: -90vh;
  }
  100% {
    bottom: 0vh;
  }
}

@keyframes slideup {
  0% {
    bottom: -90vh;
  }
  100% {
    bottom: 0vh;
  }
}

.descimg {
  width: 100vw;
      overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.descimg > p {
  text-align: center;
  font-size: 0.8em;
}

.descimg > img {
  width: 86%;
  margin: 3% 7%;
}

.desc1 {
  height: 10vh;
  padding: 2vh 2vw;
}

.textcontent {
  height: 16vh;
  padding: 5%;
  margin: 1vh 0vw;
}

.iconlist > svg {
  transform: scale(1.4);
  margin-bottom: 0.7vh;
  margin-right: 2vw;
}

@media screen and (min-height: 1024px) and (max-height: 1366px) {
  .iconlist {
    position: absolute;
    left: 100px;
  }

  .title {
    font-size: 2em;
  }

  .descimg > p {
    font-size: 1.4em !important;
  }

  .textcontent {
    height: 16vh;
    font-size: 1.8em;
    margin: 3vh 0vw;
  }


  .butns {
    text-align: center;
    margin: 2.5vh 10vw;
  }

  svg {
    transform: scale(1.6);
  }

  .iconlist > svg {
    transform: scale(2.5);
  }

  .player {
    height: 10vh;
  }


  button.skiptime {
    margin-top: 0.8vh;
    margin: 0.8vh 4vw;
  }
}

@media screen and (max-height: 812px) {
  span.iconlist {
    position: absolute;
    left: 30px;
  }

  .NoplayerStyle {
    padding: 4vh 15vw 4vh 15vw !important;
    height: 15vh !important;
  }

  button.pull-right.arrows {
    padding: 0vw;
  }

  button.pull-left.arrows {
    padding: 0vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 667px) {
  .descimg > p {
    text-align: center;
    font-size: 1.4em;
  }
}

@media screen and (min-height: 800px)  {
  #titleModule {
    font-size: 1.8em;
  }

  .iconlist  > svg  {
    margin-bottom: 1.7vh;
  }

  .descimg  > img  {
    width: 70%;
    margin: 5% 15%;
  }

  .descimg {
    height: 50vh;
  }

  .arrows  {
    height: 10vh;
  }

}