<app-navbar></app-navbar>

<div class="dispositifs" [ngStyle]="{'background-image':' url(' + imgprotrait + ')'}">
  <div class="dispositifs-digitaux"
    [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">

    <div class="title">

      <span class="iconlist" [routerLink]="['/dispositifs-digitaux']">

        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="25" height="25" viewBox="0 0 219.151 219.151" style="enable-background:new 0 0 219.151 219.151;"
          xml:space="preserve">
          <path
            d="M109.576,219.151c60.419,0,109.573-49.156,109.573-109.576C219.149,49.156,169.995,0,109.576,0S0.002,49.156,0.002,109.575
      C0.002,169.995,49.157,219.151,109.576,219.151z M109.576,15c52.148,0,94.573,42.426,94.574,94.575
      c0,52.149-42.425,94.575-94.574,94.576c-52.148-0.001-94.573-42.427-94.573-94.577C15.003,57.427,57.428,15,109.576,15z" />
          <path d="M94.861,156.507c2.929,2.928,7.678,2.927,10.606,0c2.93-2.93,2.93-7.678-0.001-10.608l-28.82-28.819l83.457-0.008
      c4.142-0.001,7.499-3.358,7.499-7.502c-0.001-4.142-3.358-7.498-7.5-7.498l-83.46,0.008l28.827-28.825
      c2.929-2.929,2.929-7.679,0-10.607c-1.465-1.464-3.384-2.197-5.304-2.197c-1.919,0-3.838,0.733-5.303,2.196l-41.629,41.628
      c-1.407,1.406-2.197,3.313-2.197,5.303c0.001,1.99,0.791,3.896,2.198,5.305L94.861,156.507z" />
        </svg>

      </span>

      <span id="titleModule">
        {{ dispo["title"] | translate}}
      </span>
    </div>


  </div>

  <div class="content-details"
    [ngClass]="{changedirection: language === 'ar' , ExtraCondensedLight: language != 'ar' , ArabicCondensedLight: language === 'ar'  }">

    <div class="descimg">
      <!-- <img src="{{dispo['imgcoin']}}">
      <p>
        {{ dispo["imglegend"] | translate}}
      </p> -->
      <p class="textcontent">
        {{ dispo["text"] | translate}}
      </p>
    </div>





    <div class="butns NoplayerStyle">
      <div class="controls">
        <button class="pull-left arrows" [disabled]=isFirst (click)="goprevious()">
          <svg [ngStyle]="ColorStyleFirst()" width="25" height="25" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;">

            <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
      C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
      c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
      l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z" /></svg>
        </button>


        <button class="pull-right arrows" [disabled]=isLast (click)="gonext()">

          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" width="25"
            [ngStyle]="ColorStyleLast()" height="25">

            <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
      c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
      c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
      c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
          </svg>

        </button>

      </div>
    </div>
  </div>
</div>