<app-navbar></app-navbar>

<span class="bg">
<div class="glossary-title ExtraCondensedLight">
  <h1>Glossaire</h1>
</div>

<div class="lettre-list ExtraCondensedLight">

  <div class="row">
    <div *ngFor="let alpha of alphabetsData; let i = index" class="col-md-3 letter" (click)="goToWords(alpha)"
      [style.display]="i > 23 ? 'none' : ''">
      <div [ngClass]="{'layer': !alpha.haveDefinition}"></div>
      {{alpha.alphabet}}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3 letter TwoLastWords" (click)="goToWords(alphabetsData[24])">
      <div [ngClass]="{'layer': !alphabetsData[24].haveDefinition}"></div>
      Y
    </div>
    <div class="col-md-3 letter TwoLastWords" (click)="goToWords(alphabetsData[25])">
      <div [ngClass]="{'layer': !alphabetsData[25].haveDefinition}"></div>
      Z
    </div>
  </div>

</div>
</span>

