.bg{
    background: url(../../../assets/images/background_webapp.jpg) center center fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: block;
  }



.glossary-title {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lettre-list {
    height: 75vh;
    width: 100vw;
    position: relative;
        overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.row{
    margin: 0;
}

.letter {
    width: calc((100% - 40px )  / 4);
    height: 75px;
    margin: 15px 5px;
    padding: 0px;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/images/bg_language.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: relative;
}

.layer {
    background-color: #9e9e9e96;
    position: absolute;
    width: 75%;
    height: 95%;
    margin: auto;
    border-radius: 10%;
    pointer-events: none;
}

.TwoLastWords{
    margin: 15px 5px;
}




@media screen and (min-height: 1024px) and (max-height: 1366px) {
    .letter{
        height: 140px;
        font-size: 3em;
        margin: 30px 0px;
    }
    .h1, h1 {
        font-size: 4rem;
    }
    .TwoLastWords {
        margin: 5% 0px;
    }
    .layer {
        width: 70%;
    }
}

@media screen and (min-height: 1366px) {
    .layer {
        width: 55%;
    }
}

@media screen and (max-width: 375px) {
    .layer {
        width: 85%;
    }
}

@media screen and (min-width: 600px) and (max-width: 667px) {
    .layer{
        width: 50%;
    }
}
