<div class="qrcode-reader-container">
  <div class="error fadeInDown animated" *ngIf="error">
    <span dir="{{currentLang == 'ar' ? 'rtl' : 'ltr'}}">{{error | translate}}</span>

    <div class="_tooltip copy-section" *ngIf="showCopyButton">
      <span class="tooltiptext"
        dir="{{currentLang == 'ar' ? 'rtl' : 'ltr'}}">{{'qrcodereader.copy-button.tooltip' | translate}}</span>
      <button (click)="copyURL()">{{'qrcodereader.copy-button.text' | translate}}</button>
    </div>
    <textarea id="url-text" style="position: absolute; left: -9999px;"></textarea>
  </div>

  <canvas id="qrcode-reader-target"></canvas>

  <div class="qrcode-reader-preview">
    <video id="qrcode-reader-source" muted></video>
  </div>

  <div class="qrcode-reader-overlay"></div>
</div>