:host {
  display: block;
  background-color: #424242;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.qrcode-reader-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas#qrcode-reader-target {
  display: none;
}

video#qrcode-reader-source {
  position: absolute;
  transform-origin: 50% 50%;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.qrcode-reader-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.qrcode-reader-overlay {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 3;
}

.qrcode-reader-overlay:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border-top: 2px solid hsla(0, 0%, 100%, 0.7);
  border-left: 2px solid hsla(0, 0%, 100%, 0.7);
  width: 10%;
  height: 10%;
}

.qrcode-reader-overlay:after {
  content: '';
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.7);
  border-right: 2px solid hsla(0, 0%, 100%, 0.7);
  width: 10%;
  height: 10%;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

video.flash {
  animation: flash ease 1.5s;
}

/* Error box */
.error {
  position: absolute;
  text-align: center;
  top: 0;
  background-color: #f44336;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 18px;
  border-radius: 2px;
  margin-top: 1em;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  z-index: 4;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

/* Copy button section. This only shown is non-safari browsers in IOS */
.copy-section {
  margin-top: 2em;
}

._tooltip {
  position: relative;
  display: block;
}

._tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  text-align: center;

  width: 120px;
  padding: 5px 0;

  left: 50%;
  bottom: 120%;

  color: #fff;
  background-color: black;

  border-radius: 6px;
  margin-left: -60px;
  z-index: 1;

  opacity: 0;
  transition: opacity 1s;
}

._tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

._tooltip .tooltiptext.show {
  visibility: visible;
  opacity: 1;
}

button {
  display: block;
  position: relative;

  min-width: 150px;
  width: 200px;
  max-width: 250px;

  padding: 10px 10px;
  margin: auto;

  border: 1px solid rgba(27, 31, 35, 0.2);
  border-color: #24292e;
  border-radius: 5px;

  color: #24292e;
  background-color: #eff3f6;

  font: inherit;
  cursor: pointer;
}
