<router-outlet></router-outlet>

<!--
  [type]="'IDENTIFICATION'"
  [type]="'COLLECTION'"

<app-qrcode-reader [type]="'IDENTIFICATION'" [instructions]="'Pointez vers un code QR'" (detection)="print($event)">
</app-qrcode-reader>
-->
