/* all Vue body Settings */
.welcome {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
    background: url(../../assets/images/background_webapp.jpg) center center fixed;
    background-size: 100% 100%;
    z-index: 1;

}


/* First Section (image) */
.Heroimage {
    width: 100vw;
    display: block;
    height: 35vh;
    position: relative;
    padding: 0px ;
    margin: 0px;
}

.img {
    width: 100%;
    position: absolute;
    height: 100%;
}

.logo {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    outline: none;
}




/* buttons settings */

.lang-btns {
    width: 100vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.lang-btns >.row {
    margin: 0px;
}

.mybtn {
    color: #f5efe1;
    background-color: transparent;
    border-color: #f5efe1;
    width: calc( 70vw /3 );
    margin: 0px 5vw;
    padding: 1vh 0vw;
}

.btns {
    display: inline-block ;
}

.title>p{
    margin-left: 2vw;
    margin-bottom: 0.85vh;
}

.title>p:first-child {
    margin-top: 2vh ;
}

.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 239, 225, 0.38);
}

.active{
    background-color: #f5efe1;
    color: #1c1c1c;
}

/* Footer settings (btn Valider) */
.valider{
    width: 100vw;
    height: 35vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.col-xs-12.btns {
    margin: auto 0px;
}
button , input{
    width: 100%;
}

input[type="text"] {
    background: transparent;
    border: 2px solid #f5efe1;
    text-align: center;
    font-size: 1.3em;
    color: #f5efe1;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 0px;
}

.error {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.oudiv {
    text-align: center;
}

.ou{
    position: relative;
}

.ou::before{
    content: "";
    position: absolute;
    border: 2px solid #f5efe1;
    width: 100%;
    top: 45%;
    left: 0;
    z-index: -1;
}

.ou > span {
    background: #383434;
    padding: 0px 3vw;
}



.valider > .btns > .active {
    padding: 1vh 10vw;
}

/* Media Query */
@media screen and (min-height: 1024px) and (max-height: 1366px)  {
    input[type="text"]  {
        font-size: 1.5em;
        padding: 1vh 3vw;
    }

    .mybtn  {
        font-size: 1.5em;
    }
    .title>p:first-child {
        margin-top: 5vh ;
    }
    .title>p {
        font-size: 1.5em;
    }
    .logo {
        left: 27.5%;
        width: 45%;
    }
    .valider > .btns > .active {
        font-size: 1.5em;
    }
}




@media screen and (min-height: 800px)    {
    .row.title {
        padding-top: 5vh;
    }
}