<form action="">

  <div class="welcome ExtraCondensedLight" [ngClass]="{changedirection: language === 'ar' }">

    <div class="Heroimage row">
      <div class="col-xs-12 col-md-12 img">
        <img class="logo" src="assets/images/coin_logo.png">
      </div>
    </div>


    <div class="lang-btns ">
      <div class="row title">
        <p class="col-xs-12 col-md-12"
          [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">
          {{'auth.title' | translate}} </p>
        <p class="col-xs-12 col-md-12"
          [ngClass]="{ExtraCondensedLight: language != 'ar' , ArabicExtraCondensedLight: language === 'ar'  }">
          {{'auth.desc' | translate}} </p>
        <p class="col-xs-12 col-md-12"
          [ngClass]="{ExtraCondensedLight: language != 'ar' , ArabicExtraCondensedLight: language === 'ar'  }">
          {{'auth.desc1' | translate}} </p>
      </div>


    </div>

    <div class="valider row">
      <div class="col-xs-12 col-md-12 btns">
        <input #code type="text" class="form-group" placeholder="# # # # # #"
          [ngClass]="{error: isempty || isinvalid }">
        <span [style.visibility]="isempty ? 'visible' : 'hidden'" class="text-danger"
          [ngClass]="{ArabicExtraCondensedLight: language === 'ar'  }">
          {{'auth.errormsg' | translate}}</span>
        <span [style.visibility]="isinvalid ? 'visible' : 'hidden'" class="text-danger"
          [ngClass]="{ArabicExtraCondensedLight: language === 'ar'  }">
          {{'auth.qrcodeinvalid' | translate}}</span>
      </div>

      <div class="col-xs-12 col-md-12 btns">
        <button (click)="validation(code.value)" class="btn active"
          [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">
          {{'auth.valider' | translate}}</button>
      </div>
      <div class="col-xs-12 col-md-12 btns oudiv">
        <div class="ou"> <span> {{'auth.ou' | translate}} </span> </div>
      </div>
      <div class="col-xs-12 col-md-12 btns">
        <button [routerLink]="['/qrcodeidentification']" class="btn active"
          [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">
          {{'auth.qrcodedesc' | translate}}</button>
      </div>
    </div>
  </div>
</form>