<div class="welcome" [routerLink]="['/selectvisite']">

  <img class="logo" src="assets/images/coin_logo.png">

  <div class="footer">
    <button class="btn active" [routerLink]="['/selectvisite']"
      [ngClass]="{ ArabicExtraCondensedLight: language === 'ar' , CondensedLight: language != 'ar' }">
      {{'welcome.btndesc' | translate}}
    </button>

    <div class="icon">
      <i class="fa fa-headphones" aria-hidden="true"></i>
    </div>
    <div class="text" [ngClass]="{ ArabicExtraCondensedLight: language === 'ar' , CondensedLight: language != 'ar'   }">
      {{ 'welcome.desc' | translate}}<br />
      {{ 'welcome.desc1' | translate}}
    </div>
  </div>

</div>