.welcome {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
    background: url(../../assets/images/background_webapp.jpg) center center fixed;
    background-size: 100% 100%;
}



.footer {
    position: absolute;
    bottom: 15vh;
    height: 25vh;
    width: 100vw;
    text-align: center;
}

.fa-headphones {
    font-size: 2.25em;
}

.text {
    font-weight: 300;
}

.Heroimage {
    width: 100vw;
    display: block;
    height: 100vh;
    position: relative;
}
.logo {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60% ;
    outline: none;
}


.btn{
margin: 2vh auto;
}


.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 239, 225, 0.38);
}

.active {
  background-color: #f5efe1;
  color: #1c1c1c;
}


@media screen and (min-height: 1024px) and (max-height: 1366px)  {
    .logo  {
        top: 10%;
}
}

@media (min-width: 481px) and (max-width: 767px) {
    .active , .icon , .text {
        font-size: 1.5em;
    }
}