::-webkit-scrollbar {
    display: none;
}

.visitelibre{
    position: absolute ;
    top: 10vh ;
    left: 0vw;
    width: 100vw;
    height: 90vh;
        overflow: scroll;
    -webkit-overflow-scrolling: touch;
}


.module{
    height: calc(90vh / 3 );
    border-bottom: 4px solid #f5efe1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.content .title {
    position : relative ;
    height: 15vh;
    margin-bottom: 0;
    padding: 9vh 5vw 0vh 5vw;
    font-weight: bold;
}

.content .desc {
    height: 15vh;
    margin-bottom: 0;
    padding: 3vh 5vw;
    font-size: 0.75em;
}


.afternoar::after {
    content: '';
    border-bottom: 2px solid #f5efe1;
    width: 40vw;
    position: absolute;
    top: 13.5vh;
    left: 4vw;
}

.after::after {
    content: '';
    border-bottom: 2px solid #f5efe1;
    width: 30vw;
    position: absolute;
    top: 13.5vh;
    right: 4vw;
}

.content {
    position: relative;
    height: inherit;
}

.overlay {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}


@media screen and (min-height: 1024px) and (max-height: 1366px)  {
    p {
        font-size: 2.5em;
    }
    .content  .title {
        padding: 7vh 5vw 0vh 5vw;
    }

    .content .title::after {
        width: 33vw;
        top: 12.5vh;
        left: 5vw;
    }
    .content .desc  {
        padding: 1vh 5vw;
        font-size: 1.5em;
    }
}

@media screen and (max-height: 568px){
    .content .desc {
        padding: 1vh 5vw;
        font-size: 0.7em;
    }
    .content  .title::after {
        width: 60vw;
        top: 13.8vh;
        left: 4vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 667px) {
    .content .desc  {
        font-size: 1.25em;
    }
    p.title {
        font-size: 2em;
    }
    .afternoar::after {
        width: 35vw;
        top: 14vh;
    }
}


