<app-navbar></app-navbar>

<div class="visitelibre "
  [ngClass]="{changedirection: language === 'ar', ArabicCondensedLight : language === 'ar' , CondensedLight : language != 'ar' }">
  <div class="module" *ngFor="let mods of Modules ; index as i "
    [style.background-image]="mods.visited ? 'url('+  mods['imgactive']  +')' : 'url('+  mods['imginactive']  +')'"
    (click)="gotoModule(mods)">

    <div class="content">
      <span class="overlay">
        <p class="title" [ngClass]="{after: language === 'ar'  , afternoar: language != 'ar' }">
          {{'Modules.'+mods["id"]+'.title' | translate}} </p>
        <p class="desc">
          {{'Modules.'+mods["id"]+'.desc' | translate}} <br>
          {{'Modules.'+mods["id"]+'.desc' | translate}}
        </p>
      </span>
    </div>
  </div>
</div>