/* all Vue body Settings */
.welcome {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  background: url(../../assets/images/background_webapp.jpg) center center fixed;
  background-size: 100% 100%;
}

/* First Section (image) */
.Heroimage {
  width: 100vw;
  display: block;
  height: 35vh;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.img {
  width: 100%;
  position: absolute;
  height: 100%;
}

.logo {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  outline: none;
}

.lang-btns {
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
}

.lang-btns > .row {
  margin: 0px;
}

.mybtn {
  color: #f5efe1;
  background-color: transparent;
  border-color: #f5efe1;
  width: 18vw;
}

.btns {
  margin: 0vh 1.5vw;
}

.title {
  height: 40%;
  font-weight: bold;
}

.buttns {
  height: 50%  ;
  padding: 0vh 8vw;
}

.title > .col-xs-12 {
  margin: 15% auto 10% auto;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 239, 225, 0.38);
}

.active {
  background-color: #f5efe1;
  color: #1c1c1c;
}

/* Footer settings (btn Valider) */
.valider {
  padding: 5vh 0vw;
  width: 100vw;
  margin: 0;
  position: relative;
}

.footerLogo {
  width: 100vw;
  text-align: center;
}

.footerLogo > img {
  width: 30%;
  margin: auto;
}

.col-xs-12.btns {
  width: max-content;
  margin: auto;
}

.valider > .btns > .active {
  padding: 1vh 10vw;
}





/* Media Query */
/* for Iphone 6,7,8  */
@media only screen
and (max-device-width : 667px)
and (orientation : portrait)
{
  #carouselExampleIndicators {
    margin: 2vh auto;
  }

  .player {
    height: 20vh;
}

 .notice {
    bottom: 17vh;
}
}



@media screen and (min-height: 800px) and (max-height: 1366px) {
  .mybtn {
    font-size: 1.5em;
  }
  .logo {
    left: 27.5%;
    width: 45%;
  }
  .valider > .btns > .active {
    font-size: 1.5em;
  }
  .footerLogo > img {
    width: 30%;
  }
.buttns{
    height: 50%;
}

.lang-btns {
  height: min-content;
}

.valider.row {
  padding-top: 8vh;
}

.footerLogo {
  bottom: 10vh;
}

.title > .col-xs-12 {
  margin: 5% auto 10% auto;
  font-size: 1.5em;
}


}
