<div class="welcome ExtraCondensedLight">

  <div class="Heroimage row">
    <div class="col-xs-12 img">
      <img class="logo" src="assets/images/coin_logo.png">
    </div>
  </div>

  <div class="lang-btns ">
    <div class="row title">
      <div class="col-xs-12" [ngClass]="{CondensedLight: language != 'ar' , ArabicCondensedLight: language === 'ar' }">
        {{'SelectLanguage.title' | translate}}</div>
    </div>

    <div class="row buttns">
      <div class="col-xs-3 btns">
        <button class="btn mybtn ArabicExtraCondensedBold" [ngClass]="{ 'active':language === 'ar' }"
          (click)="UseLanguage('ar')">ع</button>
      </div>

      <div class="col-xs-3 btns">
        <button class="btn mybtn  ExtraCondensedBold" [ngClass]="{ 'active':language === 'fr' }"
          (click)="UseLanguage('fr')">Fr</button>
      </div>

      <div class="col-xs-3 btns">
        <button class="btn mybtn ExtraCondensedBold" [ngClass]="{ 'active':language === 'en' }"
          (click)="UseLanguage('en')">En</button>
      </div>

      <div class="col-xs-3 btns">
        <button class="btn mybtn ExtraCondensedBold" [ngClass]="{ 'active':language === 'es' }"
          (click)="UseLanguage('es')">Es</button>
      </div>

    </div>
  </div>

  <div class="valider row">
    <div class="col-xs-12 btns">
      <button class="btn  ExtraCondensedBold active"
        (click)="validate()">{{'SelectLanguage.valider' | translate}}</button>
    </div>
  </div>

  <div class="footerLogo">
    <img src="assets/images/logo_bkam.png">
  </div>


</div>