<app-navbar></app-navbar>

<div class="conseil-visiteurs" [ngClass]="{changedirection: language === 'ar' , ExtraCondensedLight: language != 'ar' , ArabicExtraCondensedLight: language === 'ar'   }" >
  <h5 class="text-center bold">{{'conseilsVisiteurs.title' | translate}}</h5>
  
  <div class="conseil">
    <h6 class="bold">{{'conseilsVisiteurs.consiels1' | translate}}</h6>
    <div class="content">{{'conseilsVisiteurs.descconsiels1' | translate}}</div>
  </div>
  
  <div class="articles"> 
    <h6 class="bold">{{'conseilsVisiteurs.consiels2' | translate}} </h6>
    <div class="content">{{'conseilsVisiteurs.descconsiels2' | translate}}</div>
  </div> 
  
  
  <div class="articles"> 
    <h6 class="bold">{{'conseilsVisiteurs.consiels3' | translate}} </h6>
    <div class="content">{{'conseilsVisiteurs.descconsiels3' | translate}}</div>
  </div>
  
  
  <div class="articles"> 
    <h6 class="bold">{{'conseilsVisiteurs.consiels4' | translate}} </h6>
    <div class="content">{{'conseilsVisiteurs.descconsiels4' | translate}}</div>
  </div>
   
  
</div>