.bg{
    background: url(../../assets/images/background_webapp.jpg) center center fixed;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    position: relative;
}


:host {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#thanks {
    width: 100vw;
    text-align: center;
    height: 30vh;
    top: 35vh;
    position: absolute;
}

h1 {
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 2.5rem;
}

.titlemargin{
    margin-right: 0rem;
}

p {
    color: #fff;
}

.btn-primary , .btn-primary:active  ,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
    color: #1c1c1c;
    background-color: #d7d5cb;
    border-color: #d7d5cb;
}

.btn-primary:active {
    margin-top: 5px ;
}


.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(215, 213, 203, 0.5);
}


@media screen and (min-height: 1024px) and (max-height: 1366px)  {
    .btn-primary{
        font-size: 2em;
    }
    h1 {
        font-size: 4.5em;
    }

}