<div class="bg">
  <div id="thanks" [ngClass]="{ExtraCondensedLight: language != 'ar' , changedirection: language === 'ar' }">

    <div>
      <h1 [ngClass]="{titlemargin: language === 'ar' }">
        {{'thanks.thanks' |translate}}
      </h1>
    </div>

    <button [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'}"
      class="btn btn-primary" routerLink="/selectvisite"> {{'thanks.btndesc' |translate}} </button>

  </div>
</div>