.bg{
  background: url(../../assets/images/background_webapp.jpg) center center fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: block;
}


.visites{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.st0{
  fill:#F5EFE1;
}

.textDesc  {
  margin: 30vh 7vh 7vh calc(7vh + 35px);
  text-align: justify;
  word-break: break-word;
  height: auto;
  display: flex;
  align-items: center;
  position:relative;
}

.content {
  position: relative;
  background: #1b1b1bb5;
  color: #f0e9db;
  padding: 20px;
  height: auto;
  display: flex;
  align-items: center;
}

.content:before  {
  position: absolute;
  content: ' ';
  background: url(../../assets/images/info.svg)  #F5EFE1  no-repeat;
  background-size: 100% 100%;
  width: 35px;
  left: -35px;
  height: auto;
  bottom: 0;
  top: 0;
}

.tuto{
  height: 10%;
  width: 100%;
}

.qrcodeDesc{
  padding: 15vh 7vh 7vh calc(7vh + 35px);
  text-align: justify;
  word-break: break-word;
  height: auto;
  display: flex;
  align-items: center;
  position:relative;
}


.qrcodeDesc-content {
  position: relative;
  color: #1b1b1bb5;
  background : #f0e9db;
  padding: 20px;
  margin: -35px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.qrcodeDesc-content:before  {
  position: absolute;
  content: ' ';
  background: url(../../assets/images/qrcode.svg)  #1b1b1bb5  no-repeat;
  background-size: 100% 100%;
  width: 4vh;
  right: -17%;
  height: 4vh;
  bottom: 0;
  top: 12vh;
  background-position: center;
  z-index: 1;
}

.qrcodeDesc-content:after {
  background: #232223;
  position: absolute;
  content: ' ';
  background-size: 100% 100%;
  width: 6vh;
  right: -21%;
  height: auto;
  bottom: 0;
  top: 0;
  background-position: center;
}


.goToVisite{
  padding: 5vh;
  height: 30%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 239, 225, 0.38);
}

.active {
  background-color: #f5efe1;
  color: #1c1c1c;
}



@media screen and (min-height: 900px) {
  .qrcodeDesc-content  {
    margin: -55px;
    width: 95% !important;
  }

  .qrcodeDesc-content:before {
    width: 20%;
    right: -20%;
  }


  .textDesc  {
    padding: 7vh 7vh 7vh calc(7vh + 45px);
  }
  .content:before  {
    background-size: 100% 100%;
    width: 60px;
    left: -60px;
    height: 26vh;
    bottom: 0;
    top: 0;
  }
  .content {
    height: 26vh;
  }

  .btn {
    font-size: 1.75em;
  }
  .qrcodeDesc {
    font-size: 1.6em;
  }
  button.btn.ExtraCondensedBold.active {
    font-size: 1.7em;
  }
  .textDesc {
    font-size: 1.75em;
    height: 50%;
  }
  svg{
    margin: 1vh 0vw;
  }

}

@media screen and (min-height: 1024px) {
  .qrcodeDesc-content:before {
    width: 15%;
    right: -15%;
  }
}


@media (min-width: 481px) and (max-width: 767px) {

  .qrcodeDesc-content:after {
    right: -14%;
  }

  .qrcodeDesc-content:before {
    right: -13%;
    top: 6vh;
    width: 5vh;
    height: 5vh;
  }

  .qrcodeDesc-content{
    font-size: 1.3em;
  }
  .content {
    font-size: 1.6em;
}
.active {
  font-size: 1.5em;
}
}