<app-navbar></app-navbar>
<span class="bg">

    <div class="tuto">

        <div class="qrcodeDesc">
            <span class="qrcodeDesc-content"
                [ngClass]="{changedirection: language === 'ar'  ,  CondensedLight: language != 'ar' , ArabicCondensedLight: language === 'ar' }">
                {{'selectVisite.QrcodeDesc' | translate}}
            </span>
        </div>

    </div>

    <div class="visites ">

        <div class="textDesc">
            <span class="content"
                [ngClass]="{changedirection: language === 'ar'  ,  CondensedLight: language != 'ar' , ArabicCondensedLight: language === 'ar' }">
                {{'selectVisite.text' | translate}}
            </span>
        </div>


        <div class="goToVisite">
            <button class="btn  active" [routerLink]="['/visite-guidee/1']">
                <span
                    [ngClass]="{changedirection: language === 'ar'  ,  CondensedLight: language != 'ar' , ArabicCondensedLight: language === 'ar' }">
                    {{'selectVisite.btndesc' | translate}}
                </span>
            </button>
        </div>
    </div>

</span>