<div class="welcome" [ngClass]="{changedirection: language === 'ar' }">
  <div class="success fadeInDown animated" *ngIf="successMessage">
    <span dir="{{language == 'ar' ? 'rtl' : 'ltr'}}">{{successMessage | translate}}</span>
  </div>

  <div class="Heroimage row">
    <div class="col-xs-12 col-md-12 img">
      <img class="logo" src="assets/images/coin_logo.png" [routerLink]="['/selectvisite']">
    </div>
  </div>

  <div class="lang-btns ">
    <div class="row title">
      <p class="col-xs-12 col-md-12"
        [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">
        {{ 'formulaire.title' | translate}} </p>
      <p class="col-xs-12 col-md-12"
        [ngClass]="{ExtraCondensedLight: language != 'ar' , ArabicExtraCondensedLight: language === 'ar'  }">
        {{ 'formulaire.desc1' | translate}} <br>
        {{ 'formulaire.desc2' | translate}} <br>
      </p>
    </div>
  </div>

  <form (ngSubmit)="subscribe(subscribeForm)" #subscribeForm="ngForm" name="subscribeForm">
    <div class="valider row">
      <div class="col-xs-12 col-md-12 btns">
        <input required type="text" placeholder="{{ 'formulaire.nom' | translate}}"
          [ngClass]="{ExtraCondensedLight: language != 'ar' , changedirection: language === 'ar'  }" name="fullname"
          [(ngModel)]="subscription.fullname" #name="ngModel">
        <div *ngIf="subscribeForm.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors.required">{{ 'formulaire.errors.name' | translate }}</div>
        </div>
      </div>

      <div class="col-xs-12 col-md-12 btns">
        <input required email type="email" placeholder="{{ 'formulaire.mail' | translate}}"
          [ngClass]="{ExtraCondensedLight: language != 'ar' , changedirection: language === 'ar'  }" name="emailaddress"
          [(ngModel)]="subscription.email" #email="ngModel">
        <div *ngIf="subscribeForm.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">{{ 'formulaire.errors.email.required' | translate }}</div>
          <div *ngIf="email.errors.email">{{ 'formulaire.errors.email.email' | translate }}</div>
        </div>
      </div>

      <div class="col-xs-12 col-md-12 btns terms">
        <div class="checkbox">
          <input type="checkbox" required name="agree" [(ngModel)]="subscription.agree" #agree="ngModel">
          <span>
            <a target="_blank" [routerLink]="[ '/conditions-generale']">
              {{ 'formulaire.terms' | translate}}
            </a>
          </span>
        </div>
        <div *ngIf="subscribeForm.submitted && agree.invalid" class="invalid-feedback">
          <div *ngIf="agree.errors.required">{{ 'formulaire.errors.agree' | translate }}</div>
        </div>
      </div>

      <br><br>

      <div class="col-xs-12 col-md-12 btns">
        <button type="submit" class="btn active"
          [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">
          {{ 'formulaire.valider' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>