/* all Vue body Settings */
.welcome {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  background: url(../../assets/images/background_webapp.jpg) center center fixed; 
  background-size: 100% 100%; 
}

/* First Section (image) */
.Heroimage {
  width: 100vw;
  display: block;
  height: 35vh;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.img {
  width: 100%;
  position: absolute;
  height: 100%;
}

.logo {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40%;
  outline: none;
}

/* buttons settings */

.lang-btns {
  width: 100vw;
  height: 20vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.lang-btns > .row {
  margin: 0px;
}

.mybtn {
  color: #f5efe1;
  background-color: transparent;
  border-color: #f5efe1;
  width: calc(70vw / 3);
  margin: 0px 5vw;
  padding: 1vh 0vw;
}

.btns {
  display: inline-block;
}

.title > p {
  letter-spacing: 1px;
  margin-left: 2vw;
  margin-bottom: 0.85vh;
}

.title > p:first-child {
  margin-top: 2vh;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 239, 225, 0.38);
}

.active {
  background-color: #f5efe1;
  color: #1c1c1c;
}

input[type='text'],
input[type='email'] {
  padding-right: 5vw;
}

.terms {
  font-size: 0.8em;
}

input[type='checkbox'] {
  width: max-content;
  zoom: 2;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox span {
  margin-left: 3vw;
}

/* Footer settings (btn Valider) */
.valider {
  width: 100vw;
  height: 35vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.col-xs-12.btns {
  margin: auto 0px;
}
button,
input {
  width: 100%;
}

input {
  background: transparent;
  border: 2px solid #f5efe1;
  text-align: left;
  padding-left: 5vw;
  font-size: 1.3em;
  color: #f5efe1;
  text-transform: uppercase;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f5efe1;
  opacity: 0.65; /* Firefox */
  font-family: NotoSans ExtraCondensedLight;
  text-transform: capitalize;
}

.oudiv {
  text-align: center;
}

.ou {
  position: relative;
}

.ou::before {
  content: '';
  position: absolute;
  border: 2px solid #f5efe1;
  width: 100%;
  top: 45%;
  left: 0;
  z-index: -1;
}

.ou > span {
  background: #373737;
  padding: 0px 3vw;
}

span > a{
  color: #f5efe1 ;
  text-decoration: none;
}
.valider > .btns > .active {
  padding: 1vh 10vw;
}

/* Media Query */
@media screen and (min-height: 1024px) and (max-height: 1366px) {
  input {
    font-size: 1.5em;
    padding: 1vh 3vw;
  }

  .mybtn {
    font-size: 1.5em;
  }
  .title > p:first-child {
    margin-top: 5vh;
  }
  .title > p {
    font-size: 1.5em;
  }
  .logo {
    left: 30%;
    width: 40%;
  }
  .valider > .btns > .active {
    font-size: 1.5em;
  }
  .terms {
    font-size: 1.3em;
  }
}

.invalid-feedback {
  display: block;
}




/* Success box */
.success {
  position: absolute;
  text-align: center;
  top: 0;
  background-color: #66BB6A;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 18px;
  border-radius: 2px;
  margin-top: 1em;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  z-index: 4;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}