.qrcodemessage {
    position: absolute;
    bottom: 0;
    background-color: #323232;
    padding: 18px;
    border-radius: 2px;
    margin: 10vw;
    z-index: 3;
    text-align: center;
    width: 80vw
}

svg {
    z-index: 3;
    position: absolute;
    top: 2vh;
    width: 10vw;
    height: auto;
    left: 1em;
    fill: #fff;
}