<app-qrcode-reader [type]="'COLLECTION'" (detection)="gotoModule($event)">
</app-qrcode-reader>

<span (click)="back()">
    <svg width="128" height="128" xmlns="http://www.w3.org/2000/svg">
        <g>
            <title>Layer 1</title>
            <path fill="#ffffff" stroke-width="0" stroke="#ffffff" id="svg_1"
                d="m189.3,128.4l-100.3,105c-6,5.8 -9,13.7 -9,22.4c0,8.7 3,16.5 9,22.4l100.3,105.4c11.9,12.5 31.3,12.5 43.2,0c11.9,-12.5 11.9,-32.7 0,-45.2l-48.1,-50.4l217,0c16.9,0 30.6,-14.3 30.6,-32c0,-17.7 -13.7,-32 -30.6,-32l-217,0l48.2,-50.4c11.9,-12.5 11.9,-32.7 0,-45.2c-12,-12.5 -31.3,-12.5 -43.3,0z" />
        </g>
    </svg>
</span>



<div class="qrcodemessage">
    {{'qrcodescanner.text' | translate}}
</div>