<div class="welcome" [ngClass]="{changedirection: language === 'ar' }">
  <div class="success fadeInDown animated" *ngIf="successMessage">
    <span dir="{{language == 'ar' ? 'rtl' : 'ltr'}}">{{successMessage | translate}}</span>
  </div>


  <div class="Heroimage row">
    <div class="col-xs-12 col-md-12 img">
      <img class="logo" src="assets/images/coin_logo.png" [routerLink]="['/selectvisite']">
    </div>
  </div>


  <form (ngSubmit)="contact(contactForm)" #contactForm="ngForm" name="contactForm">

    <div class="valider row">
      <div class="col-xs-12 col-md-12 btns">
        <input required type="text" placeholder="{{ 'contact.nom' | translate}}"
          [ngClass]="{ExtraCondensedLight: language != 'ar' , changedirection: language === 'ar'  }"
          [(ngModel)]="contactInfos.fullname" name="fullname" #fullname="ngModel">
        <div *ngIf="contactForm.submitted && fullname.invalid" class="invalid-feedback">
          <div *ngIf="fullname.errors.required">{{ 'contact.errors.fullname' | translate }}</div>
        </div>
      </div>

      <div class="col-xs-12 col-md-12 btns">
        <input required email name="email" type="email" placeholder="{{ 'contact.mail' | translate}}"
          [ngClass]="{ExtraCondensedLight: language != 'ar' , changedirection: language === 'ar'  }"
          [(ngModel)]="contactInfos.email" #email="ngModel">
        <div *ngIf="contactForm.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">{{ 'contact.errors.email.required' | translate }}</div>
          <div *ngIf="email.errors.email">{{ 'contact.errors.email.email' | translate }}</div>
        </div>
      </div>

      <div class="col-xs-12 col-md-12 btns">
        <select required name="subject"
          [ngClass]="{ExtraCondensedLight: language != 'ar' , changedirection: language === 'ar'  }"
          [(ngModel)]="contactInfos.subject" #subject="ngModel">
          <option value="">{{'contact.objet-options.default-value' | translate}}</option>
          <option value="Demande d'informations">{{'contact.objet-options.Demande-informations' | translate}}</option>
          <option value="Reclamations">{{'contact.objet-options.Reclamations' | translate}}</option>
          <option value="Suggestions">{{'contact.objet-options.Suggestions' | translate}}</option>
        </select>
        <div *ngIf="contactForm.submitted && subject.invalid" class="invalid-feedback">
          <div *ngIf="subject.errors.required">{{ 'contact.errors.subject' | translate }}</div>
        </div>
      </div>

      <div class="col-xs-12 col-md-12 btns">
        <textarea required name="content" minlength="5" class="form-control"
          placeholder="{{ 'contact.message' | translate}}"
          [ngClass]="{ExtraCondensedLight: language != 'ar' ,  changedirection: language === 'ar'  }"
          [(ngModel)]="contactInfos.content" #content="ngModel"></textarea>
        <div *ngIf="contactForm.submitted && content.invalid" class="invalid-feedback">
          <div *ngIf="content.errors.required">{{ 'contact.errors.content.required' | translate }}</div>
          <div *ngIf="content.errors.minlength">{{ 'contact.errors.content.minlength' | translate }}</div>
        </div>
      </div>

      <div class="col-xs-12 col-md-12 btns">
        <button class="btn active" type="submit"
          [ngClass]="{ExtraCondensedBold: language != 'ar' , ArabicExtraCondensedBold: language === 'ar'  }">
          {{ 'contact.valider' | translate}}
        </button>
      </div>

    </div>
  </form>
</div>