/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* fonts latin */
@font-face {
	font-family: 'NotoSans CondensedLight';
	src: url('./assets/fonts/NotoSans-CondensedLight.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedBlack';
	src: url('./assets/fonts/NotoSans-ExtraCondensedBlack.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedBold';
	src: url('./assets/fonts/NotoSans-ExtraCondensedBold.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedLight';
	src: url('./assets/fonts/NotoSans-ExtraCondensedLight.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedLightItalic';
	src: url('./assets/fonts/NotoSans-ExtraCondensedLightItalic.ttf');
}

@font-face {
	font-family: 'NotoSans ExtraCondensedSemiBold';
	src: url('./assets/fonts/NotoSans-ExtraCondensedSemiBold.ttf');
}

@font-face {
	font-family: 'NotoSans ExtraCondensedThin';
	src: url('./assets/fonts/NotoSans-ExtraCondensedThin.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedThinItalic';
	src: url('./assets/fonts/NotoSans-ExtraCondensedThinItalic.ttf');
}

/* arabic fonts */
@font-face {
	font-family: 'NotoSansArabic CondensedLight';
	src: url('./assets/fonts/NotoSansArabic-CondensedLight.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedBlack';
	src: url('./assets/fonts/NotoSansArabic-ExtraCondensedBlack.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedBold';
	src: url('./assets/fonts/NotoSansArabic-ExtraCondensedBold.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedLight';
	src: url('./assets/fonts/NotoSansArabic-ExtraCondensedLight.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedThin';
	src: url('./assets/fonts/NotoSansArabic-ExtraCondensedThin.ttf');
}

/* Arabic font Class  */
.ArabicExtraCondensedLight {
	font-family: NotoSansArabic ExtraCondensedLight;
}

.ArabicExtraCondensedThin {
	font-family: NotoSansArabic ExtraCondensedThin;
}
.ArabicExtraCondensedBold {
	font-family: NotoSansArabic ExtraCondensedBold;
}
.ArabicExtraCondensedBlack {
	font-family: NotoSansArabic ExtraCondensedBlack;
}
.ArabicCondensedLight {
	font-family: NotoSansArabic CondensedLight;
}

/* Latin font Class */
.CondensedLight {
	font-family: NotoSans CondensedLight;
}
.ExtraCondensedBlack {
	font-family: NotoSans ExtraCondensedBlack;
}
.ExtraCondensedBold {
	font-family: NotoSans ExtraCondensedBold;
}
.ExtraCondensedLight {
	font-family: NotoSans ExtraCondensedLight;
}
.ExtraCondensedLightItalic {
	font-family: NotoSans ExtraCondensedLightItalic;
}

.ExtraCondensedSemiBold {
	font-family: NotoSans ExtraCondensedSemiBold;
}

.ExtraCondensedThin {
	font-family: NotoSans ExtraCondensedThin;
}
.ExtraCondensedThinItalic {
	font-family: NotoSans ExtraCondensedThinItalic;
}

html{
	overflow-y: hidden;
}


body {
	background: #1c1c1c ;
	color: #d7d5cb;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px
}




.plyr--audio .plyr__controls {
	background-color: transparent !important;
	padding: 0px 5px !important;
}

.plyr__controls {
	margin-bottom: 1.4vh !important;
}


.plyr--full-ui input[type=range] {
    color: #f5efe1 !important;
}

.plyr__control.plyr__tab-focus {
	box-shadow: none !important;
}

.changedirection {
	direction: rtl !important;
	text-align: right !important;
}